<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlexP.Selenium.Chrome.WebDriver" version="88.0.4324.96" targetFramework="net472" />
  <package id="Firefox" version="3.6.6" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net472" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0.1" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.4.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="104.0.5112.7900" targetFramework="net472" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.31.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net472" />
</packages>